/*OBRIGADO-POR-VER-MEU-CODIGO,-ATE-AQUI-TUDO-FOI-FEITO-APENAS-HTML-CSS*/
body {
  font-family: sans-serif, Arial, Helvetica;
  padding-top: 18px;
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.69'%3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  height: auto;
  left: auto;
}

header {
  margin-bottom: 71px;
}

/*------------------MARCA-LOGO------------------*/
.logo {
  width: 180px;
  margin-left: 45px;
  align-items: center;
}

/*---------------CABEÇALHO----------------------*/

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

/*-------------------MENU-----------------------*/
.menu a {
  padding: 20px 0px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 150px;
  list-style: none;
  margin-right: 85px;
}

.menu a:after {
  content: "";
  display: block;
  margin-top: 4px;
  height: 2px;
  width: 0%;
  background: rgba(255, 255, 255, 0.89);
  transition: 0.5s;
}

.menu a:hover:after {
  width: 100%;
}

/*-------------------------BOTÃO DE LOGIN------------------------------*/

#login {
  text-decoration: none;
  display: inline-block;
  padding: 4px 20px;
  padding-top: 10px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  box-shadow: 0.5px 2px rgba(255, 255, 255, 0.1);
  background: linear-gradient(rgb(132, 0, 255), rgb(255 1 228));
}

/*-------------------------MENU SANDUICHE------------------------------*/
button {
  display: none;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
}

@media (max-width: 1150px) {

  ul,
  li {
    flex-direction: column;
    align-items: unset;
  }

  button {
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    position: absolute;
    right: 35px;
    top: 35px;
  }
}

/*-------------------Apresentacao------------------*/
.capa {
  display: grid;
  margin-left: 70px;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 83%;

  justify-items: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .capa {
    grid-template-columns: 1fr;
    width: 0%;
    margin-left: 350px;
  }

  p {
    margin-right: 75px;
  }
}

@media (max-width: 1202px) {
  .capa {
    grid-template-columns: 1fr;
    width: 0%;
    margin-left: 190px;
  }

  p {
    margin-left: 75px;
  }
}

p {
  margin-left: 75px;
}

/*--------------------------apresentaçao-----------------------*/



h1 {
  font-size: 80px;
  background-color: linear-gradient(rgb(132, 0, 255), rgb(255 1 228));
  text-align: center;
  color: rgb(245, 245, 245);
}

.botun h1 span {
  color: #9000ff;
  font-family: Georgia;
}

/*-----------------------botoes.personalisado-----------------*/
.botun a {
  text-decoration: none;

  width: 300px;
  padding: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  justify-items: center;
  margin-top: 30px;
  border-radius: 5px;
  color: white;
  line-height: 1.33;
  font-weight: bold;
  box-shadow: 1px 2px rgba(255, 255, 255, 0.1);
  background: linear-gradient(rgb(132, 0, 255), rgb(255 1 228));
}

.botun a:hover {
  background: linear-gradient(rgb(101, 0, 196), rgb(163, 0, 147));
}

/*--------------------------------RODA-PÉ-----------------------------*/
footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(224, 224, 224);
}